<!doctype html>
<html ng-app="myApp" lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!--//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css-->
    <link rel="stylesheet" href="js/bootstrap.min.css">
    <!--//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css-->
    <link rel="stylesheet" href="js/bootstrap-theme.min.css">
    <!--ui-bootstrap-tpls需要bootstrap-theme-->
    <!--https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js-->
    <script src="js/angular.js"></script>
    <!--https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-cookies.js-->
    <script src="js/angular-cookies.js"></script>
    <!--angularjs-ui 为bootstrap与angularjs做的解决方案-->
    <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="js/laoding.css">
    <link rel="stylesheet" href="js/center.css">
    <link rel="stylesheet" href="js/sticky-footer.css">
    <link rel="shortcut icon" href="img/BBB.ico">
    <link rel="bookmark" href="img/BBB.ico">
    <title>
        BuyBuyBuy商城
    </title>
</head>
<body>

<!--固定头部开始-->
<header class="bg-info">

    <span>
        <!--左头部LOGO-->
        <a href=".">
            <img class=".img-responsive" src="img/BBB.png" alt="BuyBuyBuy">
        </a>
    </span>


</header>


<!--菜单栏-->
<nav id="menu" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">

            <!--右区-->

            <!--菜单栏-->
            <ul ng-show="user.IsAdmin && user.Logined" class="nav navbar-nav navbar-right">
                <li> <!--class="active"-->
                    <a href="#" ng-click="AdminFunc.User()">会员管理</a>
                </li>
                <li> <!--class="active"-->
                    <a href="#" ng-click="AdminFunc.Product()">产品管理</a>
                </li>
                <!--<li> &lt;!&ndash;class="active"&ndash;&gt;-->
                <!--<a href="#" ng-click="AdminFunc.Check()">订单管理</a>-->
                <!--</li>-->
            </ul>
            <ul ng-show="(!user.IsAdmin) && user.Logined" class="nav navbar-nav navbar-right">
                <!--产品搜索-->
                <li ng-show="!user.IsAdmin">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" ng-model="SearchThingsName" class="form-control" placeholder="产品搜索">
                        </div>
                        <button ng-click="UserFunc.Search()" type="submit" class="btn btn-default">搜索</button>
                    </form>
                </li>
                <!--<li>-->
                    <!--&lt;!&ndash;占位符&ndash;&gt;-->
                    <!--<a></a>-->
                <!--</li>-->
                <!--<li> &lt;!&ndash;class="active"&ndash;&gt;-->
                <!--<a href="#" ng-click="UserFunc.Check()">购物车</a>-->
                <!--</li>-->
                <!--<li> &lt;!&ndash;class="active"&ndash;&gt;-->
                <!--<a href="#" ng-click="UserFunc.Pay()">支付</a>-->
                <!--</li>-->
                <!--<li> &lt;!&ndash;class="active"&ndash;&gt;-->
                    <!--<a href="#" ng-click="UserFunc.Help()">帮助中心</a>-->
                <!--</li>-->
            </ul>


            <!--左区-->
            <ul class="nav navbar-nav navbar-left">

                <!--登录-->
                <li ng-show="!user.Logined">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" ng-model="user.Name" class="form-control" placeholder="UserName">
                            <input type="password" ng-model="user.Password" class="form-control" placeholder="Password">
                        </div>
                        <button ng-click="user.ToLogIn()" type="submit" class="btn btn-primary">登录</button>
                        <button ng-click="user.ToLogNew()" type="submit" class="btn btn-info">注册</button>
                    </form>
                </li>
                <!--登出-->
                <li ng-show="user.Logined">
                    <a href="#" ng-click="user.ToLogOut()">欢迎，{{user.Name}}&nbsp;&nbsp;&nbsp;<u>点这里安全登出</u></a>
                </li>
            </ul>


        </div>

    </div>

</nav>
<!--固定头部结束-->

<!--中部可变区开始-->

<div id="center" class="container" ng-switch="centerData.NowPage">

    <!--中部可变区-->
    <!--style="display: table;width: auto;margin-top: auto;margin-left: auto;"-->
    <!--<center></center>-->
    <section id="welcome" ng-switch-when="welcome" class="text-center">
        <!--welcome page-->
        <span>
            <!--XHTML实现-->
            <h1>
                欢迎来到
                <ruby>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>买</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>断</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>手</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                </ruby>
                商城
            </h1>
            <h3>请从左上角登录进入</h3>
        </span>
    </section>

    <section id="login_error" ng-switch-when="login_error" class="text-center">
        <!--login error page-->
        <span>
            <!--XHTML实现-->
            <h1>
                欢迎来到
                <ruby>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>买</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>断</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>手</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                </ruby>
                商城
            </h1>
            <h3>登陆无效</h3>
        </span>
    </section>

    <section id="login_ok" ng-switch-when="login_ok">
        <!--login ok page-->
        <div class="text-center">
            <!--XHTML实现-->
            <h1 ng-show="!user.IsAdmin">
                欢迎来到
                <ruby>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>买</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>断</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>手</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                </ruby>
                商城
            </h1>
        </div>
        <div class="text-center">
            <a class="btn btn-primary" ng-show="!user.IsAdmin" ng-click="GetProductList()">浏览所有产品</a>
            <!--TODO 用户信息  用户欢迎 页-->
            <div ng-show="user.IsAdmin">
                <h1>欢迎管理员{{user.Name}}登录</h1>
                <div style="margin-top: 50px">
                    <a class="btn btn-info btn-lg" style="margin-right: 50px" ng-click="AdminFunc.User()">会员管理</a>
                    <a class="btn btn-info btn-lg" style="margin-left: 50px" ng-click="AdminFunc.Product()">产品管理</a>
                    <!--<a class="btn btn-info btn-lg" style="margin-left: 50px" ng-click="AdminFunc.Check()">订单管理</a>-->
                </div>
            </div>
        </div>
    </section>

    <section id="lognew" ng-switch-when="lognew" class="text-center">
        <!--log new page-->
        <span>
            <!--XHTML实现-->
            <h1>
                欢迎来到
                <ruby>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>买</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>断</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>手</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                </ruby>
                商城
            </h1>
            <h3>{{lognew.userName}}</h3>
            <h3 ng-show="lognew.ok">注册成功，请使用刚才的账号密码登录</h3>
            <h3 ng-show="!lognew.ok">已经被注册了，请尝试更换用户名</h3>
        </span>
    </section>

    <section id="explorer" ng-switch-when="explorer">
        <!--浏览商品页-->
        <div class="text-center">
            <!--XHTML实现-->
            <h1>
                欢迎来到
                <ruby>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>买</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>断</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                    Buy
                    <rp>
                        <small>(</small>
                    </rp>
                    <rt>
                        <small>手</small>
                    </rt>
                    <rp>
                        <small>)</small>
                    </rp>
                </ruby>
                商城
            </h1>
        </div>
        <div>
            <dl class="row">
                <dt class="col-md-2" ng-repeat='Objs in exploreredThingS'>
                <div>
                    <a ng-click="explorerClick(Objs)">
                        <img ng-src="{{Objs.img}}" style="height: 200px;width: 200px;" alt="{{Objs.texts}}">
                    </a>
                </div>
                <div>
                    <a ng-click="explorerClick(Objs)">
                        <h4>
                            {{Objs.name}}
                        </h4>
                    </a>
                </div>
                <div>
                    <h4>
                        <small>
                            {{Objs.texts}}
                        </small>
                    </h4>
                </div>
                </dt>
            </dl>
        </div>
    </section>

    <section id="showProduct" ng-switch-when="showProduct" class="center-block">
        <!--商品展示页-->
        <div>
            <h2>{{NowProduct.name}}商品详情</h2>
            <img class="form-control-static" ng-src="{{NowProduct.img}}" style="height: 200px;width: 200px;"
                 alt="{{Objs.texts}}">
            <h3>售价：{{NowProduct.price}}</h3>
            <h4>产品简介：</h4>
            <!--<h3>{{NowProduct.texts}}</h3>-->
            <div>{{NowProduct.texts}}</div>
        </div>
    </section>

    <section id="noProduct" ng-switch-when="noProduct" class="text-center">
        <!--no商品页-->
        <div>
            <h1>商品不见了？？！！</h1>
            <a href=".">
                <img src="img/404.jpg" class="center">
            </a>
        </div>
    </section>

    <section id="showLoading" ng-switch-when="showLoading" class="text-center">
        <!--等待页-->
        <div>
            <h1>
                <small>正在从服务器获取数据</small>
            </h1>
            <div class="center" ng-show="!loadingPage.loaded">
                <div class="loading"></div>
            </div>
            <div ng-show="loadingPage.loaded">
                <span ng-show="loadingPage.ok">
                    载入成功
                </span>
                <span ng-show="!loadingPage.ok">
                    <small>
                        载入失败
                        ，错误原因：{{loadingPage.errorinfo.statusText}}
                        ， 错误代码：{{loadingPage.errorinfo.statusCode}}
                    </small>
                </span>
            </div>
        </div>
    </section>

    <section id="searchProduct" ng-switch-when="searchProduct" class="text-center">
        <!--搜索页-->
        <div>

        </div>
    </section>

    <section id="UserManager" ng-switch-when="UserManager" class="center-block">
        <!--用户管理-->
        <div>
            <h2>用户管理</h2>
            <table class="table table-striped">
                <tr>
                    <th>编号</th>
                    <th>ID</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat='User in AdminFunc.UserList'>
                    <td>{{$index}}</td>
                    <td>{{User.id}}</td>
                    <td>{{User.name}}</td>
                    <td>
                        <a class="btn btn-danger" ng-click="AdminFunc.UserDelete(User)">删除用户</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section id="ProductManager" ng-switch-when="ProductManager" class="center-block">
        <!--产品管理-->
        <div>
            <h2>产品管理</h2>
            <table class="table table-striped">
                <tr>
                    <th>编号</th>
                    <th>ID</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat='Product in AdminFunc.ProductList'>
                    <td>{{$index}}</td>
                    <td>{{Product.id}}</td>
                    <td>{{Product.name}}</td>
                    <td>{{Product.price}}</td>
                    <td>
                        <a class="btn btn-default" ng-click="AdminFunc.ProductEdit(Product)">编辑产品</a>
                        <a class="btn btn-danger" ng-click="AdminFunc.ProductDelete(Product)">删除产品</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section id="ProductEdit" ng-switch-when="ProductEdit" class="center-block">
        <!--产品编辑-->
        <div class="form-group">
            <h2>{{NowProduct.name}}</h2>
            <img class="form-control-static" ng-src="{{NowProduct.img}}" style="height: 200px;width: 200px;"
                 alt="{{Objs.texts}}">
            <h3>售价：<input type="text" ng-model="NowProduct.price"></h3>
            <h4>产品简介：</h4>
            <!--<h3>{{NowProduct.texts}}</h3>-->
            <div><input type="text" class="form-control" ng-model="NowProduct.texts"></div>
            <a class="btn btn-danger" ng-click="AdminFunc.SaveProductEdit()" style="margin-top: 30px">保存修改</a>
        </div>
    </section>

    <section id="help" ng-switch-when="help">
        <!--help page-->
        <span>
            <!--XHTML实现-->
            <div class="text-center">
                <h1>
                    欢迎来到
                    <ruby>
                        Buy
                        <rp>
                            <small>(</small>
                        </rp>
                        <rt>
                            <small>买</small>
                        </rt>
                        <rp>
                            <small>)</small>
                        </rp>
                        Buy
                        <rp>
                            <small>(</small>
                        </rp>
                        <rt>
                            <small>断</small>
                        </rt>
                        <rp>
                            <small>)</small>
                        </rp>
                        Buy
                        <rp>
                            <small>(</small>
                        </rp>
                        <rt>
                            <small>手</small>
                        </rt>
                        <rp>
                            <small>)</small>
                        </rp>
                    </ruby>
                    商城
                </h1>
            </div>
            <div class="center-block">
                <h3>请选择您的问题：</h3>
            </div>
        </span>
    </section>

    <section id="aboutCompany" ng-switch-when="aboutCompany" class="text-center">
        <!--about page-->
        <!--XHTML实现-->
        <h1>
            欢迎来到
            <ruby>
                Buy
                <rp>
                    <small>(</small>
                </rp>
                <rt>
                    <small>买</small>
                </rt>
                <rp>
                    <small>)</small>
                </rp>
                Buy
                <rp>
                    <small>(</small>
                </rp>
                <rt>
                    <small>断</small>
                </rt>
                <rp>
                    <small>)</small>
                </rp>
                Buy
                <rp>
                    <small>(</small>
                </rp>
                <rt>
                    <small>手</small>
                </rt>
                <rp>
                    <small>)</small>
                </rp>
            </ruby>
            商城
        </h1>
        <h2>公司简介</h2>

        <p>
            BuyBuyBuy买断手购物网成立于 2005 年 11 月，是中国最大最专业的跨境电子商务网站。
            是由山东省汉邦影音技术有限公司投资成立的，是国内最早致力于跨境购物的互联网公司，
            中国唯一一家可以帮助客户免除美国消费税的商家。
            通过九年的努力，BuyBuyBuy买断手购物网成功入驻中国（上海）自由贸易试验区项目与河南保税物流中心，
            与众多知名商家、知名品牌建立了合作关系，并且在美国纽约、美国洛杉矶、美国俄勒冈等地设有分支机构。
        </p>

        <p>
            BuyBuyBuy买断手购物网可以代购美国品牌服饰、箱包、运动鞋、保健品、化妆品、名表首饰、户外装备、家居母婴用品、家庭影院等商品，
            相比国内专柜同品牌、同型号商品可节省高达50%的费用，还能让客户在省钱的同时买到一些国内未上市的产品。
            代购的商品均由美国分公司采用统一的物流配送——纽约全一快递，由美国发货直接寄至客户手中，无需经过国内转运。
            使用人民币支付，化解众多跨境购物支付难题，并为客户提供完善的售后服务，24小时中英文客户服务热线（400-667-7878），
            实现无障碍跨国购物。代购的美国商品，7-14个工作日直达客户手中，在家轻松购遍美国，足不出户，即可同享美国高品质生活。
        </p>

        <p>
            BuyBuyBuy买断手购物网秉承“全面，完善，便捷，贴心”的理念，努力为用户提供更多元化的商品、更优惠的价格、更专业的服务，
            为发展为最具人气、最受用户信赖的专业国际跨境电子商务集团而努力,也为营造一个和谐正规安全的跨境电子购物新环境而努力!
        </p>
    </section>

    <section id="aboutBBB" ng-switch-when="aboutBBB" class="text-center">
        <!--about page-->
        <!--XHTML实现-->
        <h1>
            欢迎来到
            <ruby>
                Buy
                <rp>
                    <small>(</small>
                </rp>
                <rt>
                    <small>买</small>
                </rt>
                <rp>
                    <small>)</small>
                </rp>
                Buy
                <rp>
                    <small>(</small>
                </rp>
                <rt>
                    <small>断</small>
                </rt>
                <rp>
                    <small>)</small>
                </rp>
                Buy
                <rp>
                    <small>(</small>
                </rp>
                <rt>
                    <small>手</small>
                </rt>
                <rp>
                    <small>)</small>
                </rp>
            </ruby>
            商城
        </h1>
        <h2>商城简介</h2>

        <p>
            BuyBuyBuy买断手购物网可以代购美国品牌服饰、箱包、运动鞋、保健品、化妆品、名表首饰、户外装备、家居母婴用品、家庭影院等商品，
            相比国内专柜同品牌、同型号商品可节省高达50%的费用，还能让客户在省钱的同时买到一些国内未上市的产品。
            代购的商品均由美国分公司采用统一的物流配送——纽约全一快递，由美国发货直接寄至客户手中，无需经过国内转运。
            使用人民币支付，化解众多跨境购物支付难题，并为客户提供完善的售后服务，24小时中英文客户服务热线（400-667-7878），
            实现无障碍跨国购物。代购的美国商品，7-14个工作日直达客户手中，在家轻松购遍美国，足不出户，即可同享美国高品质生活。
        </p>

        <p>
            BuyBuyBuy买断手购物网秉承“全面，完善，便捷，贴心”的理念，努力为用户提供更多元化的商品、更优惠的价格、更专业的服务，
            为发展为最具人气、最受用户信赖的专业国际跨境电子商务集团而努力,也为营造一个和谐正规安全的跨境电子购物新环境而努力!
        </p>
    </section>


</div>


<!--中部可变区结束-->

<!--<hr>-->

<!--开发者检查-->
<section id="debugShow" ng-show="DebugMode" style="position: absolute;top: 0px;right: 0px;color: white;">
    开发者检查:{{centerData.NowPage}}
</section>


<!--固定底部开始-->
<footer class="footer bg-info .container-fluid">
    <!--固定底部-->


    <span class="row">
        <span class="col-md-1">
        </span>
        <span class="col-md-1">
            <a class="btn btn-link" href="#" ng-click='centerData.NowPage="aboutCompany"'>公司简介</a>
        </span>
        <span class="col-md-1">
            <a class="btn btn-link" href="#" ng-click='centerData.NowPage="aboutBBB"'>商城介绍</a>
        </span>
        <span class="col-md-1">
            <a class="btn btn-link" href="#" ng-click='centerData.NowPage="aboutCulture"'>团队文化</a>
        </span>
        <span class="col-md-1">
            <a class="btn btn-link" href="#" ng-click='centerData.NowPage="aboutUs"'>关于我们</a>
        </span>
        <span class="col-md-1">
            <a class="btn btn-link" href="#" ng-click='centerData.NowPage="callUs"'>联系我们</a>
        </span>
    </span>


</footer>
<!--固定底部结束-->


</body>
</html>

