<!doctype html>
<html ng-app="myApp" lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!--//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css-->
    <link rel="stylesheet" href="js/bootstrap.min.css">
    <!--https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js-->
    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/init.js"></script>
</head>
<body>

<!--固定头部开始-->
<div class="bg-info">

    <span>
        <!--左头部LOGO-->
        <a href="#">
            <img class=".img-responsive" src="img/BBB.png">
        </a>
    </span>


</div>


<!--菜单栏-->
<nav ng-controller="menu" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">

            <!--右区-->

            <!--菜单栏-->
            <ul ng-show="user.IsAdmin && user.Logined" class="nav navbar-nav navbar-right">
                <li> <!--class="active"-->
                    <a href="#" ng-click="AdminFunc.User()">会员管理</a>
                </li>
                <li> <!--class="active"-->
                    <a href="#" ng-click="AdminFunc.Product()">产品管理</a>
                </li>
                <li> <!--class="active"-->
                    <a href="#" ng-click="AdminFunc.Check()">订单管理</a>
                </li>
            </ul>
            <ul ng-show="(!user.IsAdmin) && user.Logined" class="nav navbar-nav navbar-right">
                <!--产品搜索-->
                <li ng-show="!user.IsAdmin">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="产品搜索">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </li>
                <li> <!--class="active"-->
                    <a href="#" ng-click="UserFunc.Check()">购物车</a>
                </li>
                <li> <!--class="active"-->
                    <a href="#" ng-click="UserFunc.Pay()">支付</a>
                </li>
                <li> <!--class="active"-->
                    <a href="#" ng-click="UserFunc.Search()">产品搜索</a>
                </li>
                <li> <!--class="active"-->
                    <a href="#" ng-click="UserFunc.Help()">帮助中心</a>
                </li>
            </ul>


            <!--左区-->
            <ul ng-controller="userLogin" class="nav navbar-nav navbar-left">

                <!--登录-->
                <li ng-show="!user.Logined">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" ng-model="user.Name" class="form-control" placeholder="UserName">
                            <input type="password" ng-model="user.Password" class="form-control" placeholder="Password">
                        </div>
                        <button ng-click="user.ToLoginIn()" type="submit" class="btn btn-default">登录</button>
                    </form>
                </li>

                <!--登出-->
                <li ng-show="user.Logined">
                    <a href="#" ng-click="user.ToLoginOut()">欢迎， {{user.Name}} 登出</a>
                </li>
            </ul>


        </div>

    </div>

</nav>
<!--固定头部结束-->

<!--中部可变区开始-->

<div>

    中部可变区

</div>


<!--中部可变区结束-->

<hr>


<!--固定底部开始-->
<div class="bg-info .container-fluid">
    <!--固定底部-->



    <span class="row">
        <span class="col-md-2 col-md-offset-1">
            <a class="btn btn-info" href="#">公司简介</a>
            <a class="btn btn-info" href="#">品牌理念</a>
            <a class="btn btn-info" href="#">商城介绍</a>
        </span>
        <span class="col-md-2">
            <a class="btn btn-info" href="#">团队文化</a>
            <a class="btn btn-info" href="#">关于我们</a>
            <a class="btn btn-info" href="#">联系我们</a>
        </span>
        <span class="col-md-1 col-md-offset-5">
            <a class="btn btn-info" href="#">购包常识</a>
        </span>
    </span>


</div>
<!--固定底部结束-->

</body>
</html>

